Package: com.spotipw
Name: spoti.pw
Description: Liquid Glass for the Spotify iOS app
Maintainer: spoti.pw
Author: spoti.pw
Section: Tweaks
Architecture: iphoneos-arm
Version: 0.22.0
Installed-Size: 1712
